---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Support for Pilots in Need">
	<Nav />
  <div class="bg-black h-screen">
    aasdassd
  </div>
</Layout>

