---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Support for Pilots in Need">
	<Nav />
  
  <div class="bg-gradient-to-b from-white to-blue-100">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-3xl font-bold tracking-tight text-center text-gray-900 sm:text-4xl">24/7 Hotline for Pilots</h1>
        <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600">If you're a pilot facing a crisis, you're not alone. Breathe Pilot is dedicated to providing support and assistance to pilots in times of need. We are a team of fellow pilots offering immediate help and guidance whenever you require it.  Where there is help, there is hope</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#contact" class="rounded-md bg-custom-100 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm hover:bg-custom-500 duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-custom-100">Talk to a pilot</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Cloud Section divider -->
  <div class="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="xMidYMax slice">
      <path class="fill-blue-100" d="M0 0v6.7c1.9-.8 4.7-1.4 8.5-1 9.5 1.1 11.1 6 11.1 6s2.1-.7 4.3-.2c2.1.5 2.8 2.6 2.8 2.6s.2-.5 1.4-.7c1.2-.2 1.7.2 1.7.2s0-2.1 1.9-2.8c1.9-.7 3.6.7 3.6.7s.7-2.9 3.1-4.1 4.7 0 4.7 0 1.2-.5 2.4 0 1.7 1.4 1.7 1.4h1.4c.7 0 1.2.7 1.2.7s.8-1.8 4-2.2c3.5-.4 5.3 2.4 6.2 4.4.4-.4 1-.7 1.8-.9 2.8-.7 4 .7 4 .7s1.7-5 11.1-6c9.5-1.1 12.3 3.9 12.3 3.9s1.2-4.8 5.7-5.7c4.5-.9 6.8 1.8 6.8 1.8s.6-.6 1.5-.9c.9-.2 1.9-.2 1.9-.2s5.2-6.4 12.6-3.3c7.3 3.1 4.7 9 4.7 9s1.9-.9 4 0 2.8 2.4 2.8 2.4 1.9-1.2 4.5-1.2 4.3 1.2 4.3 1.2.2-1 1.4-1.7 2.1-.7 2.1-.7-.5-3.1 2.1-5.5 5.7-1.4 5.7-1.4 1.5-2.3 4.2-1.1c2.7 1.2 1.7 5.2 1.7 5.2s.3-.1 1.3.5c.5.4.8.8.9 1.1.5-1.4 2.4-5.8 8.4-4 7.1 2.1 3.5 8.9 3.5 8.9s.8-.4 2 0 1.1 1.1 1.1 1.1 1.1-1.1 2.3-1.1 2.1.5 2.1.5 1.9-3.6 6.2-1.2 1.9 6.4 1.9 6.4 2.6-2.4 7.4 0c3.4 1.7 3.9 4.9 3.9 4.9s3.3-6.9 10.4-7.9 11.5 2.6 11.5 2.6.8 0 1.2.2c.4.2.9.9.9.9s4.4-3.1 8.3.2c1.9 1.7 1.5 5 1.5 5s.3-1.1 1.6-1.4c1.3-.3 2.3.2 2.3.2s-.1-1.2.5-1.9 1.9-.9 1.9-.9-4.7-9.3 4.4-13.4c5.6-2.5 9.2.9 9.2.9s5-6.2 15.9-6.2 16.1 8.1 16.1 8.1.7-.2 1.6-.4V0H0z"></path>
    </svg>
  </div>

  <section class="bg-gradient-to-b from-white to-blue-100" id="how-we-help">
    <div class="flex flex-col-reverse lg:flex-row items-center py-20">
      <div class="w-full lg:w-1/2 flex flex-col items-center">
        <img src="pilot-worried-stressed.webp" alt="pilot worried and stressed" class="lg:rounded-[100rem] lg:px-10 pt-20 lg:pt-0 object-cover">
      </div>
      <div class="w-full lg:w-1/2 flex flex-col items-center">
        <h2 class="font-bold text-3xl text-center pb-20 px-10">Immediate Support</h2>
        <p class="text-gray-600 tracking-tight max-w-lg px-10">
          Aviation is a demanding industry, and it's not uncommon to experience stress, anxiety, or other challenges along the way. Our crisis hotline is available 24 hours a day, 7 days a week, staffed by aviation professionals that can understand the unique pressures and circumstances that pilots face. Whether you're struggling with job related stress, personal issues, or mental health concerns, our team is here to listen, provide support, and help you navigate through difficult times.
        </p>
      </div>
    </div>

    <div class="flex flex-col-reverse lg:flex-row-reverse items-center py-20">
      <div class="w-full lg:w-1/2 flex flex-col items-center">
        <img src="pilot-on-the-phone.webp" alt="pilot on the phone" class="lg:rounded-[100rem] lg:px-10 pt-20 lg:pt-0 object-cover">
      </div>
      <div class="w-full lg:w-1/2 flex flex-col items-center">
        <h2 class="font-bold text-3xl text-center pb-20 px-10">Confidential and Non-Judgmental</h2>
        <p class="text-gray-600 tracking-tight max-w-lg px-10">
          At BreathePilot, we prioritize confidentiality and respect for your privacy. All calls to our crisis hotline are confidential, and our staff members are committed to providing non-judgmental support in a safe and understanding environment. You can feel comfortable reaching out to us knowing that your information will be kept confidential and that you will be treated with empathy and respect.
        </p>
      </div>
    </div>
  </section>


  <!-- Cloud Section divider -->
  <div class="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="xMidYMax slice">
      <path class="fill-blue-100" d="M0 0v6.7c1.9-.8 4.7-1.4 8.5-1 9.5 1.1 11.1 6 11.1 6s2.1-.7 4.3-.2c2.1.5 2.8 2.6 2.8 2.6s.2-.5 1.4-.7c1.2-.2 1.7.2 1.7.2s0-2.1 1.9-2.8c1.9-.7 3.6.7 3.6.7s.7-2.9 3.1-4.1 4.7 0 4.7 0 1.2-.5 2.4 0 1.7 1.4 1.7 1.4h1.4c.7 0 1.2.7 1.2.7s.8-1.8 4-2.2c3.5-.4 5.3 2.4 6.2 4.4.4-.4 1-.7 1.8-.9 2.8-.7 4 .7 4 .7s1.7-5 11.1-6c9.5-1.1 12.3 3.9 12.3 3.9s1.2-4.8 5.7-5.7c4.5-.9 6.8 1.8 6.8 1.8s.6-.6 1.5-.9c.9-.2 1.9-.2 1.9-.2s5.2-6.4 12.6-3.3c7.3 3.1 4.7 9 4.7 9s1.9-.9 4 0 2.8 2.4 2.8 2.4 1.9-1.2 4.5-1.2 4.3 1.2 4.3 1.2.2-1 1.4-1.7 2.1-.7 2.1-.7-.5-3.1 2.1-5.5 5.7-1.4 5.7-1.4 1.5-2.3 4.2-1.1c2.7 1.2 1.7 5.2 1.7 5.2s.3-.1 1.3.5c.5.4.8.8.9 1.1.5-1.4 2.4-5.8 8.4-4 7.1 2.1 3.5 8.9 3.5 8.9s.8-.4 2 0 1.1 1.1 1.1 1.1 1.1-1.1 2.3-1.1 2.1.5 2.1.5 1.9-3.6 6.2-1.2 1.9 6.4 1.9 6.4 2.6-2.4 7.4 0c3.4 1.7 3.9 4.9 3.9 4.9s3.3-6.9 10.4-7.9 11.5 2.6 11.5 2.6.8 0 1.2.2c.4.2.9.9.9.9s4.4-3.1 8.3.2c1.9 1.7 1.5 5 1.5 5s.3-1.1 1.6-1.4c1.3-.3 2.3.2 2.3.2s-.1-1.2.5-1.9 1.9-.9 1.9-.9-4.7-9.3 4.4-13.4c5.6-2.5 9.2.9 9.2.9s5-6.2 15.9-6.2 16.1 8.1 16.1 8.1.7-.2 1.6-.4V0H0z"></path>
    </svg>
  </div>

  <div class="bg-gradient-to-b from-white to-gray-200">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-center text-gray-900 sm:text-4xl">You're not alone</h2>
        <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600">Remember, you're not alone. No matter what challenges you may be facing, Breathe Pilot is here to support you every step of the way. If you're going through thoughts of suicide, depression, anxiety, or stress - talk to a pilot who can understand what you're going through before it's too late.  Whether you need someone to talk to, practical advice, or help finding additional resources, we're here to help. Reach out to us today and take the first step towards getting the support and assistance you deserve.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#contact" class="rounded-md bg-custom-100 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm hover:bg-custom-500 duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-custom-100">Talk to a pilot</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Form -->
  <section class="bg-gray-200 pb-48" id="contact">
    <div class="flex flex-col lg:flex-row items-center">
      <!-- Text -->
      <div class="flex flex-col items-center w-full lg:w-1/2">
        <h2 class="font-bold text-3xl text-center pb-20 px-10">How to Reach Us</h2>
        <p class="text-gray-600 tracking-tight max-w-lg px-10">
          If you find yourself in crisis or in need of immediate support, don't hesitate to contact our crisis hotline at (123) 456-7890. We are available around the clock to assist you, offering a listening ear, practical advice, and referrals to additional resources if needed. Whether you're dealing with a personal crisis, a work-related issue, or simply feeling overwhelmed, we're here to help you through it.
        </p>
      </div>
      
      <!-- Form -->
      <div class="w-full lg:w-1/2">
        <iframe
          src="https://msg.flightschoolcrm.com/widget/form/82vcb2NxxctGp9r6zyii"
          style="width:100%;height:100%;border:none;border-radius:3px"
          id="inline-82vcb2NxxctGp9r6zyii" 
          data-layout="{'id':'INLINE'}"
          data-trigger-type="alwaysShow"
          data-trigger-value=""
          data-activation-type="alwaysActivated"
          data-activation-value=""
          data-deactivation-type="neverDeactivate"
          data-deactivation-value=""
          data-form-name="Contact Us Form - Breathe Pilot"
          data-height="678"
          data-layout-iframe-id="inline-82vcb2NxxctGp9r6zyii"
          data-form-id="82vcb2NxxctGp9r6zyii"
          title="Contact Us Form - Breathe Pilot"
              >
        </iframe>
        <script src="https://msg.flightschoolcrm.com/js/form_embed.js"></script>
      </div>
    </div>
  </section>

</Layout>

